<% provide(:title, 'About') %>
<div class="content jumbotron">
    <h1 class="display-4 text-center">About Us</h1>
    <hr class="pb-4">
    <h3 class="text-justify"><span class="ml-4">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Etiam malesuada purus feugiat quam iaculis tincidunt. Mauris porta ullamcorper efficitur. Proin pulvinar lorem et pellentesque ultrices. Nulla laoreet tellus ut ex elementum, id venenatis risus mollis. Proin volutpat facilisis neque at iaculis. Aliquam erat volutpat. Cras sit amet lacus eros. Quisque finibus vehicula arcu, nec semper eros vulputate ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc ut mauris ac mauris ullamcorper gravida. Nulla at risus nunc. In blandit ante vel lorem finibus semper.</h3>
</div>