<% provide(:title, 'Home') %>
<div class="content jumbotron">
    <h1 class="text-center"><strong>Awesome Blog</strong></h1>
    <p class="text-center">Welcome to Awesome Blog!</p>
    <img src="assets/magikarp.gif" class="homepage-img rounded mx-auto d-block">
</div>