<%= form_for(@micropost) do |f| %>
    <div class="field">
        <%= f.text_area :content, placeholder: "Compose new micropost...", class: "w-100" %>
    </div>
    <%= f.submit "Post", class: "btn btn-block btn-primary" %>
<% end %>